
.hubGroup{
    position: relative;
    height: 150px;
    width: 110%;
    left: -10;
    background-color:  #202225;
    border-bottom: 3px solid #a80a68;
}

.container{
   position: relative;
   width: 150%;
   height: 10vh;
   display: flex;
   overflow:  hidden;


}

.text-box{
    position: relative;
    top: -20%;
    left: 0;
    width: 100%;
    height: 160%;
    background: #333;
}

.text-box h2{
    position: absolute;
    top: 25%;
    left: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    animation: Scrolling 10s linear infinite;
}

@keyframes Scrolling{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes Bordercolor{
    0% {border-color: #cc4b7c;}
    20% {border-color: rgb(63, 12, 55);}
    40% {border-color: rgb(233, 89, 214);}
    60% {border-color: rgb(56, 156, 196);}
    80% {border-color: rgb(13, 177, 206)}
    100% {border-color: rgb(126, 55, 184)}
}

.parallax{
    
    background: url("https://w.wallhaven.cc/full/13/wallhaven-13ypx1.png")
        repeat fixed 100%;
        height: 800px;
    
}
.parallax h1{
    position: relative;
    text-align: center;
    top: 300px;

}

#introduction{
    position: relative;
    top: 100;
    display: flex;
    align-items: center;
}

#assignment{
    float: right;
    position: relative;
    top: 100;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #d76ecd;
    border: 3px solid;
    animation: Bordercolor 7s linear infinite;

}

#portfolio{
    float: left;
    position: relative;
    top: 100;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #d76ecd;
    border: 3px solid;
    animation: Bordercolor 7s linear infinite;
}

.footer{
    position: absolute;
    bottom: -700px;
    height: 550px;
    width: 100%;
    display: flex;
    align-items: right;
    font-size: 30px;
    background-color: #202225;
}

#contact{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: #333;

}
#liNav {
    float: right;
}
#home {
    float: left;
    left: -30;
}
#home a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#home a:hover{
    border-bottom: 3px solid #a80a68;
}
#liNav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#liNav a:hover {
    border-bottom: 3px solid #a80a68;
}

#logo{
    float: left;
    position: relative;
    top: 10px;
    left: 30px;
}




