
a:hover{
   animation: colorchange infinite 3s alternate;
}
p{
    line-height: 35px;
}
.navbar{    
    background-color: #111010c0;
    font-size: 20px;
    top: -2%;
    right: 0;
    width: 100%;
    height: 80px;
    position: fixed;
}
.navbar li{
    text-align:center;
    line-height: 60px;
    display: inline-block;
    float: right;
    top: 0%;
    width: 200px;
    height: 50px;
    padding-bottom: 10px;
    list-style-type: none;

}
.navbar a{
    height: 60px; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}
.navbar li:hover{
    background-color: rgba(255, 59, 180, 0.623);
    border-bottom: 4px solid black;
}
#gitlink{
    float: left;
}
.underlaycenter{
    align-self: center;
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334b;
    background-color: #111010c0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
    height: 60%;
    top: 25%;
    left: 25%;
    width: 50%;
}
.underlayleft{
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334d;
    background-color: #111010c0;
    height: 60%;
    top: 25%;
    left: 0%;
    width: 23%;
}
.underlayright{
    align-self: center;
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334b;
    background-color: #111010c0;
    height: 60%;
    top: 25%;
    right: 0%;
    width: 23%;
}
.introduction{
    position: absolute;
    text-align: center;
    align-self: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#pIntro{
    display: none;
}
.introduction h1{
    padding: 2%;
    padding-top: 70px;
    border-top: 3px solid #4d4b4b86;
    position: absolute;
    width: 45%;
    top: 350px;
    left: -70%;
}
.introduction h1:hover + #pIntro{
    display: block;
}
.introduction h1:hover{
    animation: colorchange infinite 3s alternate;
}
.introduction img{
    position: absolute;
    height: 130px;
    left: 30%;
    top: -240px;
}
.portfolio{
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#olPort{
    display: none;
}
.portfolio h1{
    padding: 2%;
    padding-top: 70px;
    border-top: 3px solid #4d4b4b86;
    position: absolute;
    width: 45%;
    top: 150px;
    left: -70%;
}
.portfolio h1:hover + #olPort{
    display: block;
}
.portfolio h1:hover{
    animation: colorchange infinite 3s alternate;
}
.schedule{
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
    
}
#tg2{
    display: none;
}
.schedule h1{
    padding: 2%;
    padding-top: 70px;
    color: rgba(255, 255, 255, 0.479);
    position: absolute;
    width: 45%;
    top: -50px;
    left: -70%;
}
.schedule h1:hover + #tg2{
    display: inline; 
}
.schedule h1:hover{
    animation: colorchange infinite 3s alternate;
}
.contact{                                                                        
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#pContact{
    display: none;
}
.contact h1{
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: -50px;
    right: -70%;

}
.co
text-decoration: none;
    color: rgba(255, 255, 255, 0.479);
}
.contact h1:hover + #pContact{
    display: block;
}
.contact h1:hover{
    animation: colorchange infinite 3s alternate;
}
.assignment{
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
    
}
#olAssignment{
    display: none;
}
.assignment h1{
    padding: 2%;
    padding-top: 70px;
    border-top: 3px solid #4d4b4b86;
    position: absolute;
    width: 45%;
    top: 150px;
    right: -70%;
}
.assignment ol a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.479);
}
.assignment h1:hover + #olAssignment{
    display: block;
}
.assignment h1:hover{
    animation: colorchange infinite 3s alternate;
}
@keyframes colorchange {
    from{
        color:rgba(255, 59, 180, 0.623)
    }
    to{
        color:rgba(12, 11, 105, 0.623)
    }
    
}
.ContactMe{
    text-align: center;
}

.tg  {
    display: inline;
    position: relative;
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:0px 20px;
    word-break:normal;}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:0px 20px;word-break:normal;}
.tg .tg-oq35{
    background-color:#333333;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-xvu9{background-color:#de65dd;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-kcks{
    background-color:#F56B00;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-d52n{
    background-color:#32cb00;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-8izk{
    background-color:#ed2d97;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-3wb8{
    background-color:#f56b00;
    border-color:inherit;
    text-align:left;
    vertical-align:top}
.tg .tg-tw5s{
    background-color:#fe0000;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}