body a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.479);
}
body a:hover{
    transform: scale(1.2);   
    text-decoration: none;
    color:white;
}
body h1{
    height: 5vh;
    border: 2px solid #3333338a;
    border-radius: 4px 12px 0px 0px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.479);
    font-size: 2vw;
    font-family: myfont;
    letter-spacing: 1px;
}
body p{
    line-height: 30px;
    font-family: myfont;
    color: rgba(255, 255, 255, 0.479);
}
body p::first-letter{
    color: white;
    border-bottom: 2px solid white;
    font-size: larger;
}
nav{
    font-family: myfont;
}
body ol li p{
    font-family: myfont;
    color: rgba(255, 255, 255, 0.479);
    font-weight: 800;
    
}
body ol, body ol h2{
    font-weight: 800;
    font-family: myfont;
    color: white;
}
@font-face {
    font-family: myfont;
    src: url(../font/AltMono-Regular.otf) format("truetype");
    
}
.navbar{    
    background-color: #111010c0;
    float: right;
    font-size: 20px;
    top: -2%;
    right: 0;
    width: 100%;
    height: auto;
    position: fixed;
}
.navbar-custom{
    color: white;
    height: 60px;
    background-color: #111010c0;
}
.navbar-custom .navbar-nav{
   padding-top: 10px;
} 
.navbar-custom .navbar-nav{
   padding-top: 10px;
}
.navbar-custom .navbar-brand{
   font: larger;
   padding-top: 13px;
}
.navbar-custom .navbar-text{
   font-size: 30px;
   padding-bottom: 15px;
   padding-left: 70%;
}
.navbar-custom .navbar-brand{
   padding-left: 20px;
}
.navbar-custom .nav-item{
   right: 300px;
   margin-left: 20px;
}
.navbar a{
    transition: all 300ms;
    height: 60px; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}
#gitlink{
    float: right;
}
.underlaycenter{
    align-self: center;
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334b;
    background-color: #111010c0;
    transition: all 300ms;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
    height: 100%;
    top: 25%;
    left: 25%;
    width: 50%;
}

.underlayleft{
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334d;
    background-color: #111010c0;
    height: 55%;
    top: 25%;
    left: 0%;
    width: 23%;
}
.underlayright{
    align-self: center;
    position: absolute;
    border-radius: 4px;
    border: 3px solid #3333334b;
    background-color: #111010c0;
    height: 55%;
    top: 25%;
    right: 0%;
    width: 23%;
}
.introduction{
    position: absolute;
    text-align: center;
    align-self: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#pIntro{
    display: none;
}
.introduction h1{
    transition: all 300ms;
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: 25vh;
    left: -70%;
}
.introduction h1:hover + #pIntro{
    display: block;
    border-right: 3px solid #5800428e;
    border-bottom: 3px solid #58004281;
}
.introduction h1:hover{
    transform: scale(1.5);
    color: white ;
}
#logo{
    position: relative;
    top: 90px;
    left: 40%;
    width: 20%;
}
.portfolio{
    
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#olPort{
    display: none;
}
.portfolio h1{
    transition: all 300ms;
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: 10vh;
    left: -70%;
}
.portfolio h1:hover + #olPort{
    display: block;
    border-right: 3px solid #5800428e;
    border-bottom: 3px solid #58004281;
}
.portfolio h1:hover{
    transform: scale(1.5);  
    color: white ;
}
.schedule{
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
    
}
#tg2{
    display: none;
}
.schedule h1{
    transition: all 300ms;
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: -5vh;
    left: -70%;
}
.schedule h1:hover + #tg2{
    display: inline; 
    border-right: 3px solid rgba(255, 0, 0, 0.945);
    border-bottom: 3px solid rgb(255, 0, 0);
}
.schedule h1:hover{
    transform: scale(1.5);  
    color: white ;
}
.contact{  
                                                               
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
}
#pContact{
    display: none;
}
.contact h1{
    transition: all 300ms;
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: -5vh;
    right: -70%;

}

.contact h1:hover + #pContact{
    display: block;
    border-right: 3px solid #5800428e;
    border-bottom: 3px solid #58004281;
}
.contact h1:hover{
    transform: scale(1.5);        
    color: white ;
}
.assignment{
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 27px;
    top: 30%;
    left: 30%;
    width: 40%;
    right: 30%;
    
}
#olAssignment{
    display: none;
}
.assignment h1{
    border-radius: 4px;
    transition: all 300ms;
    padding: 2%;
    padding-top: 70px;
    position: absolute;
    width: 45%;
    top: 10vh;
    right: -70%;
}
.assignment ol a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.479);
}
@counter-style alians {
    system: cyclic;
    symbols: 👽 👾 🤖 🦠;
    suffix: " ";
  }
  
.assignment ol{
    display: list-item;
    list-style-image: url('img\1523782-middle.png');
}
.assignment h1:hover + #olAssignment{
    display: block;
    border-right: 3px solid #5800428e;
    border-bottom: 3px solid #58004281;
}
.assignment h1:hover{
    transform: scale(1.5);  
    color: white ;
}
footer{
    position: fixed;
    bottom: 0PX;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #111010c0;
}
@keyframes colorchange {
    from{
        color:rgba(255, 59, 180, 0.623)
    }
    to{
        color:rgba(12, 11, 105, 0.623)
    }
    
}
.ContactMe{
    text-align: center;
}

.tg  {
    display: inline;
    position: relative;
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border: 2px solid #000000;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:0px 10px;
    word-break:normal;}
.tg th{
    border: 2px solid #000000;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:0px 10px;
    word-break:normal;}
.tg .tg-oq35{
    background-color:#333333;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-xvu9{background-color:#de65dd;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-kcks{
    background-color:#F56B00;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-d52n{
    background-color:#32cb00;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-8izk{
    background-color:#ed2d97;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-3wb8{
    background-color:#f56b00;
    border-color:inherit;
    text-align:left;
    vertical-align:top}
.tg .tg-tw5s{
    background-color:#fe0000;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}